/*

Author: Sean Oberoi
Organization: Pirates Online Retribution
Product: Pirates Online Retribution Launcher
Date: 3/10/16
Copyright 2016 Sean Oberoi and Pirates Online Retribution

*/

html,body {
	background: rgba(0,0,0,0);
	
}


ul {
	list-style-image: url('../images/bullet.png');
}

b.description {
	font-family: 'Times New Roman';
	color: #a7b6cf;
	font-size: 13px;
	margin: 0px;
}

.versionNum {
	position: absolute;
	top: 40px;
	left: 32px;
	color: #96a0e4;
	font-size: 13px;
	text-shadow:
	0 0 1px hsl(233, 70%, 75%),
	0 0 2px hsl(240, 72%, 65%),
	0 0 3px hsl(240, 56%, 45%),
	0 0 4px hsl(240, 100%, 25%),
	0 0 5px hsl(240, 100%, 15%);
}

.obfauth {
	position: absolute;
	top: 54px;
	left: 27px;
	color: #96a0e4;
	font-size: 8px;
	text-shadow:
	0 0 1px hsl(233, 70%, 75%),
	0 0 2px hsl(240, 72%, 65%),
	0 0 3px hsl(240, 56%, 45%),
	0 0 4px hsl(240, 100%, 25%),
	0 0 5px hsl(240, 100%, 15%);
}

ul.news {
	
	top: 130px;
	bottom: 130px;
	font-family:'Georgia';
	left: 53px;
	position: absolute;
	background: rgba(0,0,0,0);
	-webkit-padding-start: 22px;
	width: 290px;
	height: 340px;
	overflow:hidden; 
	overflow-y:scroll;
	margin: 1px;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	color: #423d30;
	/*border-bottom: 1px solid #423d30;*/
}

p.title {
	font-family:'Times New Roman';
	color: #b08663;
	font-size: 16px;
	margin: 0px;
}

a.description {
	font-family:'Times New Roman';
	color: #a7b6cf;
	font-size: 13px;
	margin: 0px;
}

p.date {
	font-size: 12px;
	font-family:'Arial';
	margin: 0px;
	color: #999999;
}

li {
	
	margin-bottom: 10px;
	
	
	
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	font-size: 11pt;
	font-family: Pieces of Eight;
	width: auto;
	height: auto;
	position: absolute;
	top: 305px;
	left: 414px;
}

.alert-trans {
	
	position: absolute;
	top: 272px;
	left: 505px;
}

#container {
	margin: 20px;
	width: auto;
	height: auto;
	position: absolute;
	top: 275px;
	left: 400px;
}

.alert {
	padding: 4px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}



.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	font-size: 11pt;
	font-family: Pieces of Eight;
	width: auto;
	height: auto;
	position: absolute;
	top: 225px;
	left: 505px;
}

.alert-info {
	color: #000;
	background-color: #fafad2;
	border-color: #faebcc;
	font-size: 11pt;
	font-family: Pieces of Eight;
	width: auto;
	height: auto;
	position: absolute;
	top: 305px;
	left: 414px;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	font-size: 11pt;
	font-family: Pieces of Eight;
	width: auto;
	height: auto;
	position: absolute;
	top: 305px;
	left: 414px;
}

.accountFieldBox {
	background-image: url(../images/account_name.jpg);
	width: 101px;
	height: 80px;
	position: absolute;
	top: 188px;
	left: 415px;
	border: none;
}

progress {
	width: 265px;
	height: 9px;
	position: absolute;
	top: 235px;
	left: 454px;
	
}

.percentNum {
	position: absolute;
	top: 200px;
	left: 535px;
	color: #96a0e4;
	font-size: 18px;
	text-shadow:
	0 0 1px hsl(233, 70%, 75%),
	0 0 2px hsl(240, 72%, 65%),
	0 0 3px hsl(240, 56%, 45%),
	0 0 4px hsl(240, 100%, 25%),
	0 0 5px hsl(240, 100%, 15%);
}

.loadBar progress {
	background: rgba(0,0,0,0);
	border: 0;
	border-radius: 9px;
}
.loadBar progress::-webkit-progress-bar {
	background: rgba(0,0,0,0);
	border-radius: 9px;

}

.shadow {
	  box-shadow:
	0 0 0 2px hsl(233, 70%, 75%),
	0 0 0 2.5px hsl(240, 72%, 65%),
	0 0 0 3.0px hsl(240, 56%, 45%),
	0 0 0 3.5px hsl(240, 100%, 25%),
	0 0 0 4.0px hsl(240, 100%, 15%);
	
}

.window {
	background-image: url(../images/window_background.png);
	width: 806px;
	height: 561px;
	background-repeat: no-repeat;
}
	
	
	
.loadBar progress::-webkit-progress-value {
	background: #96a0e4;
	box-shadow:
	0 0 0 1px hsl(233, 70%, 75%),
	0 0 0 2px hsl(240, 72%, 65%),
	0 0 0 3px hsl(240, 56%, 45%),
	0 0 0 4px hsl(240, 100%, 25%),
	0 0 0 5px hsl(240, 100%, 15%);
	background: -moz-linear-gradient(top,  #96a0e4 0%, #96a0e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96a0e4), color-stop(100%,#96a0e4));
	background: -webkit-linear-gradient(top,  #96a0e4 0%,#96a0e4 100%);
	background: -o-linear-gradient(top,  #96a0e4 0%,#96a0e4 100%);
	background: -ms-linear-gradient(top,  #96a0e4 0%,#96a0e4 100%);
	background: linear-gradient(to bottom,  #96a0e4 0%,#96a0e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96a0e4', endColorstr='#96a0e4',GradientType=0 );
	border-radius: 9px;
}
.loadBar progress::-moz-progress-bar {
	background: #96a0e4;
	background: -moz-linear-gradient(top,  #96a0e4 0%, #96a0e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96a0e4), color-stop(100%,#96a0e4));
	background: -webkit-linear-gradient(top,  #96a0e4 0%,#96a0e4 100%);
	background: -o-linear-gradient(top,  #96a0e4 0%,#96a0e4 100%);
	background: -ms-linear-gradient(top,  #96a0e4 0%,#96a0e4 100%);
	background: linear-gradient(to bottom,  #96a0e4 0%,#96a0e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96a0e4', endColorstr='#96a0e4',GradientType=0 );
	border-radius: 9px;
}
.loadBar .progress-value {
	padding: 0px 5px;
	line-height: 20px;
	margin-left: 5px;
	font-size: .8em;
	color: #555;
	height: 18px;
	float: right;
}

button:focus {
	outline: 0;
}

.helpButton {
	background-image: url(../images/buttons/help/but_help_default.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 643px;
	border: none;
}


.helpButton:hover {
	background-image: url(../images/buttons/help/but_help_over.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 643px;
	border: none;
}

.manageButton {
	background-image: url(../images/buttons/manageaccount/but_manageacct_default.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 519px;
	border: none;
}

iframe {
	top: 207px;
	left: 412.5px;
	position: absolute;

}

.manageButton:hover {
	background-image: url(../images/buttons/manageaccount/but_manageacct_over.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 519px;
	border: none;
}

.rnButton {
	background-image: url(../images/buttons/releasenotes/but_releasenotes_default.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 399px;
	border: none;
}

.rnButton:hover {
	background-image: url(../images/buttons/releasenotes/but_releasenotes_over.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 399px;
	border: none;
}

.guideButton {
	background-image: url(../images/buttons/plyguide/but_playerguide_default.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 279px;
	border: none;
}

.guideButton:hover {
	background-image: url(../images/buttons/plyguide/but_playerguide_over.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 279px;
	border: none;
}

.comButton {
	background-image: url(../images/buttons/community/but_community_default.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 158px;
	border: none;
}



.comButton:hover {
	background-image: url(../images/buttons/community/but_community_over.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 158px;
	border: none;
}

.siteButton {
	background-image: url(../images/buttons/site/but_officialsite_default.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 36px;
	border: none;
}

.siteButton:hover {
	background-image: url(../images/buttons/site/but_officialsite_over.jpg);
	width: 117px;
	height: 23px;
	position: absolute;
	top: 505px;
	left: 36px;
	border: none;
}

.createButton {
	background-image: url(../images/buttons/create/create_acct_default.jpg);
	width: 93px;
	height: 15px;
	position: absolute;
	top: 248px;
	left: 668px;
	border: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.createButton:hover {
	
	background-image: url(../images/buttons/create/create_acct_over.jpg);
	width: 93px;
	height: 15px;
	position: absolute;
	top: 248px;
	left: 668px;
	border: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.forgotButton {
	background-image: url(../images/buttons/forgot/forgot_default.jpg);
	width: 103px;
	height: 15px;
	position: absolute;
	top: 248px;
	left: 414px;
	border: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.forgotButton:hover {
	background-image: url(../images/buttons/forgot/forgot_over.jpg);
	width: 103px;
	height: 15px;
	position: absolute;
	top: 248px;
	left: 414px;
	border: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.manageB {
	background-image: url(../images/buttons/manageaccount/manage_default.jpg);
	width: 92px;
	height: 15px;
	position: absolute;
	top: 248px;
	left: 545px;
	border: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.manageB:hover {
	background-image: url(../images/buttons/manageaccount/manage_over.jpg);
	width: 92px;
	height: 15px;
	position: absolute;
	top: 248px;
	left: 545px;
	border: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.playButton {
	background-image: url(../images/buttons/play/window_play_default.jpg);
	width: 82px;
	height: 30px;
	position: absolute;
	top: 202px;
	left: 676px;
	border: none;
}

.playButton:hover {
	background-image: url(../images/buttons/play/window_play_over.jpg);
	width: 82px;
	height: 30px;
	position: absolute;
	top: 202px;
	left: 676px;
	border: none;
}

.playButton:active {
	background-image: url(../images/buttons/play/window_play_click.jpg);
	width: 82px;
	height: 30px;
	position: absolute;
	top: 202px;
	left: 676px;
	border: none;
}

.passwordInput {
	font-size: 12pt;
	font-family: System Small;
	width: 162px;
	height: 20px;
	position: absolute;
	top: 220px;
	left: 505px;
	border: none;
	background-color: 000;
}

.usernameInput {
	color: #000;
	font-size: 12pt;
	font-family: System Small;
	width: 162px;
	height: 20px;
	position: absolute;
	top: 193px;
	left: 505px;
	border: none;
	background-color: 000;
}

.closeButton {
	background-image: url(../images/buttons/close/window_close_button_normal.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 750px;
	border: none;
	background-color: rgba(0,0,0,0);
}

.closeButton:hover {
	background-image: url(../images/buttons/close/window_close_button_hover.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 750px;
	border: none;
	background-color: rgba(0,0,0,0);
}

.minButton {
	background-image: url(../images/buttons/minimize/window_minimize_button_normal.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 730px;
	border: none;
	background-color: rgba(0,0,0,0);
}

.minButton:hover {
	background-image: url(../images/buttons/minimize/window_minimize_button_hover.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 20px;
	left: 730px;
	border: none;
	background-color: rgba(0,0,0,0);
}

html {
	background-repeat: no-repeat;
	width: 806px;
	height: 561px;
}

input {
	
}